@model Product

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Sell Price</label>
        <input type="text" asp-for="SellPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="SellPrice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input type="text" asp-for="Rating" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Discount Price</label>
        <input type="text" asp-for="DiscountPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Main File</label>
        <input asp-for="MainFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="MainFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hover File</label>
        <input asp-for="HoverFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="HoverFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Additional Files</label>
        <input asp-for="Files" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name)))" class="form-control">
            <option selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="row productImages">
       <partial name="_ProductImagePartial" model="Model.ProductImages"></partial>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>

@section Scripts {
    <script>
        const deleteBtn = document.querySelectorAll(".deleteProductBtn");
        deleteBtn.forEach(btn => {
            btn.addEventListener("click", (e) => {
                const id = e.target.dataset.id;
                fetch(`https://localhost:7075/Admin/Product/DeleteImage/${id}`, {
                    method: "POST"
                }).then(x => x.text()).then(x => {
                    document.querySelector(".productImages").innerHTML = x;
                })
            });
        });
    </script>
}